repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: scripts/lint.sh
        language: script
        pass_filenames: false
        always_run: true
