[package]
name = "ee-common"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
axum.workspace = true
chrono.workspace = true
serde.workspace = true
thiserror.workspace = true
