name: deploy

on:
  push:
    branches: [main]

jobs:
  release:
    runs-on: self-hosted
    env:
      PRODUCTION_GCP_PROJECT_ID: ${{ secrets.PRODUCTION_GCP_PROJECT_ID }}
      PRODUCTION_GCP_SERVICE_ACCOUNT_KEY: ${{ secrets.PRODUCTION_GCP_SERVICE_ACCOUNT_KEY }}
    steps:
      - uses: actions/checkout@v4
      - name: Run production deploy pipeline
        run: scripts/deploy_main.sh
